<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= typeof title != 'undefined' ? title: 'Blue Carbon' %> </title>
    <link rel="stylesheet" href="./css/Reset.css">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    <%- body %>

    
</body>
<script src="js/_js/_lib/jquery.3.6.0.min.js"></script>
<script src="js/_js/_lib/main.min5.1.0.js"></script>
<script src="js/_js/_lib/owl.carousel.min.js"></script>
<script src="js/_js/_lib/jquery.mousewheel.min.js"></script>
<script src="js/_js/_lib/rellax.min.js"></script>
<script src="/js_js/_lib/wow.min.js"></script>
<script src="js/_js/main.js"></script>
<script src="js/script.js"></script>
</html>